{% extends 'base.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">{{ 'price_table'|trans }}</h1>

    <a href="{{ path('new_price_table') }}">{{ 'create'|trans }}</a>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'is_active'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for priceTable in priceTables %}
                <tr>
                    <td><a href="{{ path('edit_price_table', {'id': priceTable.id}) }}">{{ 'edit'|trans }}</a></td>
                    <td>{{ priceTable.name }}</td>
                    <td>{{ priceTable.isActive }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'no_results'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}