{% extends 'base.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">{{ 'customers'|trans }}</h1>

    <a href="{{ path('new_customer') }}">{{ 'create'|trans }}</a>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{ 'name'|trans }}</th>
                <th>{{ 'email'|trans }}</th>
                <th>{{ 'vat'|trans }}</th>
                <th>{{ 'price_table'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="{{ path('edit_customer', {'id': customer.id}) }}">{{ 'edit'|trans }}</a></td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.vat }}</td>
                    <td>{{ customer.priceTable }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'no_results'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}